@import '~bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@700&display=swap');

.hero {
background-color: rgb(63, 61, 60);


}
body {
  font-family: 'Hahmlet', serif;
}

.title{
  color: white;
  font-size: 35px;
}

.button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 51px;
  line-height: 51px;
  color: #000000;
  font-family: 'Hahmlet', serif;
  width: 297px;
  font-size: 41px;
  font-weight: 500;
  padding: 40px;
  background-color: #E6E9F0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  border: solid #FFFFFF 1px;
  background: #838C9A;
  background-image: -webkit-linear-gradient(top, #838C9A, #DADADA);
  background-image: -moz-linear-gradient(top, #838C9A, #DADADA);
  background-image: -ms-linear-gradient(top, #838C9A, #DADADA);
  background-image: -o-linear-gradient(top, #838C9A, #DADADA);
  background-image: -webkit-gradient(to bottom, #838C9A, #DADADA);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}